/* ELEMENT TAGS STYLING */


body {
  background-color: #a6e3e9;
}
h1 {
  font-family: 'Crafty Girls', cursive;
}
h2 {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}
.radio-buttons {
  font-family: 'Abel', sans-serif;;
  font-size: 20px;
}
img {
  height: 500px;
  width: 30%;
}



/* CLASSES AND IDs STYLING */
.nav-item {
  text-align: right;
  float: right;


}
.navbar-brand {
  background-color: #474f85;
  border-radius: 8%;
  border-width: thin;
  padding: 10px;
  font-weight: bolder;
}
#about {
  text-align: center;
}
#landing-page {
  background-color: #4f9da6;
}
.btn {
  margin-left: 80%;
}
#set-2 {
  display: none;
}
.submit {
  margin-left: 50%;
}
