/* ELEMENT TAGS STYLING */
body {
  background-color: #8fbbaf;
}

h1 {
  font-family: 'Crafty Girls', cursive;
}

h2 {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
}

.radio-buttons {
  font-family: 'Abel', sans-serif;
  ;
  font-size: 20px;
}

img {
  height: 200px;
  width: 70%;
  margin-top: 20px;
  border-radius: 10%;
}

/* CLASSES AND IDs STYLING */
.nav-item {
  text-align: right;
  float: right;
}

.navbar-brand {
  background-color: #474f85;
  border-radius: 8%;
  border-width: thin;
  padding: 10px;
  font-weight: bolder;
}

#about {
  text-align: center;
  line-height: 3;
}

#landing-page {
  display: none;
}

.btn {
  margin-left: 80%;
}

#learn-more {
  margin-left: 50%;
}

#set-1 {
  display: none;
}

#set-2 {
  display: none;
}

.submit {
  margin-left: 50%;
}

.studentMarks {
  display: none;
  color: red;
  border-radius: 60%;
}
